*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;

    background-color: #f5f5f5;
}
.container{
    height: 1603px;
    width: 1280px;

    background-color: #fff;
}
.header{
    height: 50px;
    width: 1260px;
    margin: 24px 0 16px 0;

    display: flex;
    justify-content: space-between;
}
.titulo{
    margin: 10px;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 125.9%;
}
.botao-login{
    height: 50px;
    width: 292.32px;
    border-radius: 8px;
    
    background-color: #252525;
    color: #fff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 125.9%;

    cursor: pointer;
}
.nav{
    height: 55px;
    width: 1260px;
}
.navbar-list{
    height: 55px;
    width: 1260px;
    list-style: none;
    border-top: 1px solid black;
    border-bottom: 1px solid black;

    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar-link{
    text-decoration: none;
    color: #000;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 125.9%;
}
.main{
    height: 1210px;
    width: 1260px;
    margin: 10px 0 ;
}
.imgs-surf{
    display: grid;
    grid-template-areas: 
        'foto1 foto1 foto2'
        'foto3 foto4 foto2'
    ;
}
.div-img-surf1{
    background-image: url(../assets/img/Foto01.png);
    height: 295px;
    width: 727px;

    grid-area: foto1;

    display: flex;
    flex-direction: column;
    justify-content: end;
}

.div-img-surf2{
    background-image: url(../assets/img/Foto02.png);
    height: 600px;
    width: 515px;

    grid-area: foto2;

    display: flex;
    flex-direction: column;
    justify-content: end;
}
.div-img-surf3{
    background-image: url(../assets/img/Foto03.png);
    height: 295px;
    width: 354px;

    grid-area: foto3;

    margin-right: 0.5rem;
    margin-top: 0.7rem;

    display: flex;
    flex-direction: column;
    justify-content: end;
}
.div-img-surf4{
    background-image: url(../assets/img/Foto04.png);
    height: 295px;
    width: 354px;

    grid-area: foto4;

    margin-top: 0.7rem;

    display: flex;
    flex-direction: column;
    justify-content: end;
}
.imgs-trilha{
    display: grid;
    grid-template-areas: 
        'foto1 foto2 foto2'
        'foto1 foto3 foto4'
    ;
    margin-top: 10px;
}
.div-img-trilha1{
    background-image: url(../assets/img/Foto05.png);
    height: 600px;
    width: 515px;

    grid-area: foto1;

    margin-right: 0.6rem;

    display: flex;
    flex-direction: column;
    justify-content: end;
}
.div-img-trilha2{
    background-image: url(../assets/img/Foto06.png);
    height: 295px;
    width: 727px;

    grid-area: foto2;

    display: flex;
    flex-direction: column;
    justify-content: end;
}
.div-img-trilha3{
    background-image: url(../assets/img/Foto07.png);
    height: 295px;
    width: 354px;

    grid-area: foto3;

    margin-right: 0.8rem;
    margin-top: 0.7rem;

    display: flex;
    flex-direction: column;
    justify-content: end;
}
.div-img-trilha4{
    background-image: url(../assets/img/Foto08.png);
    height: 295px;
    width: 354px;

    grid-area: foto4;

    margin-top: 0.7rem;

    display: flex;
    flex-direction: column;
    justify-content: end;
}
.interacao{
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    height: 61px;
    width: 193px;

    background: rgba(0, 0, 0, 0.62);
    color: #fff;
}
.bibi-heart-fill{
    margin-top: 7px; 
}
.bibi-chat-fill{
    margin-left: 2.7rem; 
}
.interacao p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 125.9%;

    margin: 0 10px  ;
}
.footer{
    height: 228px;
    width: 1280px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #161616;
}
.titulo-footer{
    height: 100px;
    width: 213px;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 125.9%;

    color: #fff;
}
.redes-sociais a{
    /* border: 2px solid red; */

    margin-right: 3.5rem;
    text-decoration: none;
}
.bibi-tiktok{
    margin-bottom: 0.35rem;
}
.bibi-twitter{
    margin-bottom: 0.38rem;
}
.bibi-youtube{
    margin-bottom: 0.4rem;
}
.subtitulo-footer{
    color: #fff;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 125.9%;
}

/* FORMULÁRIO DO BTN "LOGIN" */

.formulario{
    height: 500px;
    width: 1040px;

    position: absolute;
    left: 430px;
    top: 184px;

    background-color: #E6E5E5;
    border-radius: 31px;

    display: none;

    /* ANIMAÇÃO DO FORMULÁRIO*/

    animation: animate;
    animation-duration: 800ms;
}
@keyframes animate {
    from{
        opacity: 1;
    }
    from{
        opacity: 0;
    }
}
.titulo-formulario{
    /* border: 2px solid blue; */
    text-align: center;
    margin-top: 33px;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 125.9%;
}
.fechar-formulario{
    /* border: 2px solid red; */
    position: absolute;
    left: 60rem;
    top: 3rem;


    float: right;
    cursor: pointer;

    animation: animate1;
    animation-duration: 800ms;
}
.form{
    /* border: 2px solid red; */
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.input-email{
    display: flex;
    flex-direction: column;

    margin-top: 69px;
    margin-bottom: 20px;
}
.input-email label{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 125.9%;
}
.input-email input{
    height: 65px;
    width: 834px;
    padding: 1.1rem;
    
    border: none;
    border-radius: 10px;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 125.9%;
}

.input-senha{
    display: flex;
    flex-direction: column;

    margin-bottom: 53px;
}
.input-senha label{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 125.9%;
}
.input-senha input{
    height: 65px;
    width: 834px;
    padding: 1.1rem;
    
    border: none;
    border-radius: 10px;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 125.9%;
}
.btns{
    margin-left: 26.3rem;
}
.btn-cancelar{
    width: 194px;
    height: 65px;
    margin-right: 20px;

    color: #161616;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 125.9%;
}
.btn-login{
    width: 194px;
    height: 65px;

    color: #fff;
    background-color: #161616;
    border-radius: 10px;
    cursor: pointer;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 125.9%;
}